@font-face {
    font-family: 'Lato-Regular';
    src: url("fonts/Lato/Lato-Regular.ttf");
}

@font-face {
    font-family: 'Lato-Thin';
    src: url("fonts/Lato/Lato-Thin.ttf");
}

@font-face {
    font-family: 'Lexington';
    src: url("fonts/Lexington/LexingtonC.ttf");
}
* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato-Regular', sans-serif;
    color: #4c4e50;
}

header:before,
header:after {
    content: " ";
    display: table;
}

header:after {
    clear: both;
}

.span-name {
    display: block;
    width: 1px;
    height: 1px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

nav h1, nav h2 {
    text-align: center;
}

nav h1 {
    font-family: Lexington, Lato-Regular, sans-serif;
    color: #d5b0b0;
    font-size: 54px;
    margin-bottom: 0;
}

nav h2 {
    color: #d5b0b0;
    margin-top: 0;
    font-family: 'Lexington', sans-serif;
}

nav {
    top: 0;
    z-index: 1;
    /*background-color: #e6e6e6;*/
    padding: 5em 0;
    border-radius: 10px;
    background-image: url("images/pastel_rainbow_gradient_background.jpg");
    background-size: cover;
    background-position: center center;
}

nav header {
    width: 100%;

}

nav header {
    margin-bottom: 2em;

}
.nav {
    line-height: 30px;
}
/*nav ul {*/
/*    font-size: 1.3em;*/
/*    text-align: center;*/
/*    margin-bottom: 0;*/
/*}*/

/*nav ul li {*/
/*    display: inline-block;*/
/*    list-style: none;*/
/*    padding: 0;*/
/*    margin-right: .25em;*/

/*}*/

/*nav ul li a {*/
/*    display: block;*/
/*    width: 2em;*/
/*    height: 2em;*/
/*    color: white;*/
/*    text-decoration: none;*/
/*    text-align: center;*/
/*    line-height: 2em;*/
/*    border-radius: 999em;*/
/*    background-color: #4c4e50;*/
/*}*/

/*nav ul li a:hover {*/
/*    color: white;*/
/*    background-color: #007079;*/
/*}*/

/*nav ul li a:active {*/
/*    color: white;*/
/*    background-color: #007079;*/
/*}*/

/*nav ul li a img {*/
/*    width: .8em;*/
/*}*/
.social-media {
    display: inline-block;
    position: absolute;
    top: 17em;
    text-align: center;
    /*margin-top: 20px;*/
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.a {
    color: #fff;
    background: #d5b0b0;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding-top: 12px;
    margin: 0 2px;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    -webkit-font-smoothing: antialiased;
}

.a:hover {
    background: #999999;
}

.a span {
    color: #666;
    position: absolute;
    font-family: Lato-Regular, sans-serif;
    bottom: 0;
    left: -25px;
    right: -25px;
    padding: 5px 7px;
    z-index: -1;
    font-size: 14px;
    border-radius: 2px;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    -o-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.a span:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    position: absolute;
    bottom: -5px;
    left: 40px;
}

.a:hover span {
    bottom: 50px;
    visibility: visible;
    opacity: 1;
}

.a:nth-of-type(1):before {
    content: url("images/github.svg")
}

.a:nth-of-type(2):before {
    content: url("images/telegram.svg");
}

.a:nth-of-type(3):before {
    content: url("images/instagram.svg");
}

.a:nth-of-type(4):before {
    content: url("images/pinterest.svg");
}
.a:nth-of-type(5):before {
    content: url("images/heart.svg");
}
footer ul {
    list-style-type: none;
    float: left;

}

footer ul li a {
    text-decoration: none;
    color: #4c4e50;
}

.left_footer {
    text-align: left;
}

footer p {
    text-align: right;
}

.section {
    font-family: Lato-Regular, sans-serif;
    font-size: 48px;
    text-align: center;
    letter-spacing: 3px;
    border-bottom: #4c4e50 1px solid;
}

.section p {
    margin-top: 30px;
    margin-bottom: 30px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 1 auto;
    padding: 30px 40px;
}
.flex-container-2 {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    flex: 0 1 auto;
    padding: 30px 40px;
}
.flex-item-1, .flex-item-2 {
    vertical-align: top;
    font-family: Lato-Regular, sans-serif;
    line-height: 23px;
    margin: 0 15px 30px 15px;
    padding: 30px 30px;
    background-color: #e6e6e6;
    border-radius: 10px;
}

.flex-item-1 {
    flex-basis: auto;
    width: calc(35%);
    height: calc(35%);
}

.flex-item-2 {
    flex-basis: calc(50% - 30px);
    width: auto;
}


.photo {
    display: block;
    margin: 0 auto;
    width: calc(100%);
    border-radius: 10px;
}
@media (max-width: 552px) {
    .social-media {
        top: 23em;
    }
}
@media (max-width: 900px) {

    .nav {
        line-height: 1px;
    }
    .flex-container {
        margin: 15px 20px;
    }

    .flex-item-1, .flex-item-2 {
        flex-basis: auto;
        padding: 35px 35px;
    }

    .flex-item-1 {
        flex-basis: auto;
        width: calc(100%);
        height: calc(100%);
    }

    .flex-item-2 {
        flex-basis: calc(100%);
    }
}

@media (max-width: 480px) {
    .flex-container {
        margin: 10px 1px;
        flex: auto;
    }

    .flex-item-1, .flex-item-2 {
        flex-basis: auto;
        padding: 20px 20px;

    }

    .flex-item-1 {
        flex-basis: auto;
        width: calc(100%);
        height: calc(100%);
    }
}

.button {
    text-align: center;
    border-radius: 4px;
    background-color: #4c4e50;
    border: none;
    font-family: Lato-Regular, sans-serif;
    font-size: 20px;
    color: #e6e6e6;
    padding: 10px 20px;
    cursor: pointer;
}

.button:hover {
    background-color: #5f6164;
}
